name: Build Android
on:
  pull_request:
    branches:
      - master
  push:
    branches: 
      - master
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  build-gradle-project:
    runs-on: ubuntu-latest
    steps:
    - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
    - run: echo "This job is running on a ${{ runner.os }} server hosted by GitHub!"
    - name: Checkout project sources
      uses: actions/checkout@v3
    - run: echo "The ${{ github.repository }} repository has been cloned."
    - uses: actions/setup-java@v2
      with:
        java-version: 17
        distribution: zulu
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
    - name: Run build with Gradle Wrapper
      run: ./gradlew build
      

#jobs:
#  build:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v1
#      - uses: actions/cache@v2
#          with:
#            path: |
#              ~/.gradle/caches
#              ~/.gradle/wrapper
#            key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
#            restore-keys: |
#            ${{ runner.os }}-gradle-
#      - name: Set Up JDK
#        uses: actions/setup-java@v1
#        with:
#          java-version: 1.8
#      - name: Run Tests
#        run: ./gradlew test
#      - name: Build Project
#        run: ./gradlew assemble
